!!!
!!! XML
!!!
%html{ "ng-app" => ""}
  %head
    %meta{"charset" => "utf-8"}
    %meta{"content" => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    = stylesheet_link_tag "app"

    %title
      = data.page.title || "The Middleman"
  
  %body{ "class" => page_classes }
    .large-12.columns
      %label Name:
      %input{ "type" => "text", "ng-model" =>"yourName", "placeholder" =>"Enter a name here"}
      %hr
      %h1 Hello {{yourName}}!

  
  = javascript_include_tag "all"
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"
